corpus/*
corpus_wiki/*
data_set/*
__pycache__/*
tgc/*
tgc_wiki/*
corpus.tar.gz
fasttext/*
test_run_training.txt
test_run_test.txt
training_file.txt
wiki.no.vec
mlp/*
artificial_corpus*
.idea*
w2v_tgc/*
cnn/*
